*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    background-color: rgb(222, 170, 254);
}
a{
    text-decoration: none;
    color: #0499ff;
    margin-right: 100px;
}
.menu{
    min-height: 40px;
    background-color: #000;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}
.menu1{
    display: flex;
    flex-flow: row;
    color: #fff;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
}
/* .menu1 li{
    width: 100px;
} */
.menu1 li:hover{
    background-color: rgb(48, 48, 48);
}
.name{
    display: block;
    margin-right: auto;
    margin-left: 70px;
}
.menu1 li{
    padding: 10px;
}
header{
    padding-top: 40px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url('pic1.jpg');
    text-align: center;
}
header img{
    border-radius: 50%;
    border: 2px solid #000;
    transition: all.5s;
}
header img:hover{
    transform: scale(1.05) rotate(7deg);
}
.tag{
    display: table;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    transition:  all.4s;
}
.tag:active{
    color: rgb(63, 4, 91);
    background-color: rgb(249, 208, 255);
    transform: scale(1.2) rotate(7deg);
}
h1{
    background-color: rgb(254, 253, 254);
    display: table;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    color: rgb(139, 3, 139);
}
.sub-title{
    background-color: rgb(139, 3, 139);
    color: rgb(252, 252, 250);
}
.sub-title:focus{
    background-color: rgb(5, 0, 5);
}
.content{
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    justify-content: space-around;
}
.card{
    max-width: 500px;
    margin: 10px;
    padding: 20px;
    border-bottom: 3px solid rgb(137, 0, 142);
    border-radius: 5px;
    transition: 2s;
}
.card:hover{
    transform: scale(1.05)
}
.list{
    display: flex;
    flex-flow: row;
    list-style-type: none;
}
.list :hover{
    color: rgb(211, 238, 248);
}
.tag-color1{
    background-color: rgb(153, 8, 186);
    color: #fff;
}
.tag-color1:hover{
    transform: rotateX(30deg);
}
.tag-color2{
    background-color: rgb(6, 65, 161);
    color: #fff;
}
.tag-color2:hover{
    transform: rotateX(30deg);
}
footer{
    text-align: center;
    padding: 2px;
    background-color: rgb(104, 1, 110);
    color: #fff;
    width: 100%;
    height: 20px;
    margin-top: 30px;
}